# Ignore pyenv local version file
.python-version
*__pycache__
.pyc

# Ignore
# Ignore local virtual environment
.venv/

# Ignore .toml build
build/

# Ignore temporal folder
tmp/
temp/
resukts/

# Ignore logs folder
logs/


